    <div class="topnav">
      <p>Shopping Cart</p>
      <div class="search">
        <input type="text" placeholder="Search.." />
        <input id="btn" type="button" value="Search" />
      </div>
      <a class="active" href="#home">Home</a>
      {{!-- {{#if user}}
      <a href="/cart"><i class="bi bi-cart2 p-0" style="color: white; font-size:20px; padding: 10px;"></i></a>
       {{/if}} --}}
         <a class="active" href="#home">Orders</a>
          <a class="active" href="/logout" onclick="return confirm('Are you sure?')">Logout</a>
    </div>