    <div class="topnav">
      <p>Shopping Cart</p>
      <div class="search">
        <input type="text" placeholder="Search.." />
        <input id="btn" type="button" value="Search" />
      </div>
      <a class="active" href="#home">Home</a>
      {{#if user}}
      <a href="/cart"><i class="bi bi-cart2 p-0" style="color: white; font-size:20px; padding: 10px;"><span class="badge badge">4</span></i></a>
       {{/if}}
      <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" style="background-color:#007eff;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{#if user}}
    {{user.Name}}
    {{else}}
    Login
    {{/if}}
    <i class="bi bi-person" style="font-size:22px;"></i>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {{#if user}}
    <a class="dropdown-item" href="/logout" onclick="return confirm('Are you sure?')" style="color:blue;">Logout</a>
    <a class="dropdown-item" href="/orders" style="color:blue;">Orders</a>
    {{else}}
    <a class="dropdown-item" href="/login" style="color:blue;">Login</a>
    {{/if}}
  </div>
</div>
    </div>