<style>body{background:#eee}.ratings i{font-size: 16px;color: red}.strike-text{color: red;text-decoration: line-through}.product-image{width: 100%}.dot{height: 7px;width: 7px;margin-left: 6px;margin-right: 6px;margin-top: 3px;background-color: blue;border-radius: 50%;display: inline-block}.spec-1{color: #938787;font-size: 15px}h5{font-weight: 400}.para{font-size: 16px}</style><div class="container mt-5 mb-5">
    {{#each products}}
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="/product-images/{{this._id}}.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h5>{{this.Name}}</h5>
                    <div class="d-flex flex-row">
                    
                    </div>
                    <p class="text-justify text-truncate para mb-0">{{this.Description}}<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">{{this.Price}}</h4><span class="strike-text">$20.99</span>
                    </div>
                    <h6 class="text-success">Free shipping</h6>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-danger btn-sm" type="button">Delete</button>
                    <button class="btn btn-outline-primary btn-sm mt-2" type="button">Check Out</button>
                    </div>
                    <button class="btn btn-primary m-3">-</button>1<button class="btn btn-primary m-3">+</button>
                </div>
            </div>
            
            </div>
        </div>
        {{/each}}