    {{!-- <div class="carrousel">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="/images/1.png" alt="First slide" />
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/images/2.png" alt="Second slide" />
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/images/3.png" alt="Third slide" />
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/images/4.png" alt="Third slide" />
          </div>
        </div>
      </div>

    </div>
    <section class="product" id="best">
      <h2 class="product-category">- Best selling -</h2>
      <button class="pre-btn"><img src="images/arrow.png" alt="" /></button>
      <button class="nxt-btn"><img src="images/arrow.png" alt="" /></button>
      <div class="product-container">
        <div class="product-card">
          <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="images\1.jpg" class="product-thumb" alt="" />
            <button class="card-btn">add to wishlist</button>
          </div>
          <div class="product-info">
            <h2 class="product-brand">H&M</h2>
            <p class="product-short-description">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit,</p>
            <span class="price">2000</span><span
              class="actual-price"
            >4000</span>
          </div>
        </div>
        <div class="product-card">
          <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="images\2.jpg" class="product-thumb" alt="" />
            <button class="card-btn">add to wishlist</button>
          </div>
          <div class="product-info">
            <h2 class="product-brand">Gucci</h2>
            <p class="product-short-description">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit,</p>
            <span class="price">2000</span><span
              class="actual-price"
            >4000</span>
          </div>
        </div>
        <div class="product-card">
          <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="images\3.jpg" class="product-thumb" alt="" />
            <button class="card-btn">add to wishlist</button>
          </div>
          <div class="product-info">
            <h2 class="product-brand">Puma</h2>
            <p class="product-short-description">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit,</p>
            <span class="price">2000</span><span
              class="actual-price"
            >4000</span>
          </div>
        </div>
        <div class="product-card">
          <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="images\4.jpg" class="product-thumb" alt="" />
            <button class="card-btn">add to wishlist</button>
          </div>
          <div class="product-info">
            <h2 class="product-brand">Nke</h2>
            <p class="product-short-description">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit,</p>
            <span class="price">2000</span><span
              class="actual-price"
            >4000</span>
          </div>
        </div>
        <div class="product-card">
          <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="images\5.jpg" class="product-thumb" alt="" />
            <button class="card-btn">add to wishlist</button>
          </div>
          <div class="product-info">
            <h2 class="product-brand">Parada</h2>
            <p class="product-short-description">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit,</p>
            <span class="price">3000</span><span
              class="actual-price"
            >6000</span>
          </div>
        </div>
        <div class="product-card">
          <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="images\6.jpg" class="product-thumb" alt="" />
            <button class="card-btn">add to wishlist</button>
          </div>
          <div class="product-info">
            <h2 class="product-brand">Chanel</h2>
            <p class="product-short-description">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit,</p>
            <span class="price">4000</span><span
              class="actual-price"
            >8000</span>
          </div>
        </div>
        <div class="product-card">
          <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="images\2.jpg" class="product-thumb" alt="" />
            <button class="card-btn">add to wishlist</button>
          </div>
          <div class="product-info">
            <h2 class="product-brand">Dior</h2>
            <p class="product-short-description">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit,</p>
            <span class="price">2000</span><span
              class="actual-price"
            >4000</span>
          </div>
        </div>
        <div class="product-card">
          <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="images\3.jpg" class="product-thumb" alt="" />
            <button class="card-btn">add to wishlist</button>
          </div>
          <div class="product-info">
            <h2 class="product-brand">Adidas</h2>
            <p class="product-short-description">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit,</p>
            <span class="price">5000</span><span
              class="actual-price"
            >10000</span>
          </div>
        </div>
        <div class="product-card">
          <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="images\4.jpg" class="product-thumb" alt="" />
            <button class="card-btn">add to wishlist</button>
          </div>
          <div class="product-info">
            <h2 class="product-brand">Zara</h2>
            <p class="product-short-description">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit,</p>
            <span class="price">2000</span><span
              class="actual-price"
            >4000</span>
          </div>
        </div>
        <div class="product-card">
          <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="images\5.jpg" class="product-thumb" alt="" />
            <button class="card-btn">add to wishlist</button>
          </div>
          <div class="product-info">
            <h2 class="product-brand">Hermes</h2>
            <p class="product-short-description">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit,</p>
            <span class="price">3000</span><span
              class="actual-price"
            >6000</span>
          </div>
        </div>
        <div class="product-card">
          <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="images\6.jpg" class="product-thumb" alt="" />
            <button class="card-btn">add to wishlist</button>
          </div>
          <div class="product-info">
            <h2 class="product-brand">Armani</h2>
            <p class="product-short-description">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit,</p>
            <span class="price">2000</span><span
              class="actual-price"
            >4000</span>
          </div>
        </div>

      </div>
    </section>
     <section class="crd">
      {{#each products}}
        <div class="product-card">
          <div class="product-image">
            <span class="discount-tag">50% off</span>
            <img src="{{this.image}}" class="product-thumb" alt="" />
            <button class="card-btn">add to wishlist</button>
          </div>
         <div class="product-info">
            <h2 class="product-brand">{{this.name}}</h2>
            <p class="product-short-description">{{this.description}}</p>
            <span class="price">{{this.price}}</span><span
              class="actual-price"
            >6000</span>
          </div>
          </div>
         {{/each}}
     </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
  <script>
const productContainers = [...document.querySelectorAll('.product-container')];
const nxtBtn = [...document.querySelectorAll('.nxt-btn')];
const preBtn = [...document.querySelectorAll('.pre-btn')];

productContainers.forEach((item, i) => {
    let containerDimensions = item.getBoundingClientRect();
    let containerWidth = containerDimensions.width;

    nxtBtn[i].addEventListener('click', () => {
        item.scrollLeft += containerWidth;
    })

    preBtn[i].addEventListener('click', () => {
        item.scrollLeft -= containerWidth;
    })
})
  </script>
</html> --}}